html {
margin: 0;
padding: 0;
}

body {
  font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
  font-size: 14px;
  background-color: lightgray;
  padding: 0;
  width: 100%;
  margin: 0;
  z-index: -1;
}

.dragHandle {
  position: absolute;
  top:0px;
  width: 20px;
  height: 20px;
}
#appNav {
  position: absolute;
  z-index: 40;
  background-color: rgb(30,37,42);
  display: block;
  width: 100%;
  height: 35px;
 
  top: 0px;
  right:0px;
}

.topBar {
  float: left;
  font-size: 0.75em;
  padding: 5px;
  float: left;
  margin-left: 60px;
  margin-top: 5px;
  letter-spacing: .1rem;
  color: white;
  font-family: 'Futura';
  background-color: transparent;
  border-style: none;
}
.topBar:hover{
  cursor: pointer;
}

#appNav h1{
  font-size: 1em;
  padding: 5px;
  float: left;
  margin-left: 5px;
  letter-spacing: .1rem;
  color: white;
  font-family: 'Futura';
}

#appBody{
  margin-top: 35px;
}

#outputs{
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
}
#cy {
  position: absolute;
  left: 150;
  top: 0;
  bottom: 20;
  right: 0;
  z-index: 10;
  background-color: lightgray;

}

#sideBar {
  background-color: rgb(30,37,42);
  height: 100%;
  width: 150px;
  
}


#sideBar h2 {
  font-size: 0.75em;
  padding: 10px;
  letter-spacing: .1rem;
  color: white;
  font-family: 'Futura';
}

#newNode {
  width: 100%;
}
#sideBar td {
  width: 100%;
}

#nodeDesc {
  position: absolute;
  width: 200px;
  min-height:0px;
  top: 60px;
  right: 10px;
  background-color: white;
  opacity: 0.9;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  z-index: 20;
  padding: 20px;
}

#nodeDesc label{
  font-family: 'Futura';;
}

#node {
  color: blue;
}
#submit {
  position: absolute;
  width: 100px;
  min-height:0px;
  bottom: 50px;
  right: 10px;
  background-color: rgb(85, 152, 85);
  opacity: 0.9;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  z-index: 20;
  padding: 20px;
}


#sideBar input {
  width: 149px;
  padding: 0px;
  margin: 0px;
  color: white;
  /* letter-spacing: .1rem; */
  background-color: transparent;
  border-color: transparent;

  background-color: transparent;
  font-family: 'Futura';
  cursor:pointer;
}

#editButton {
  background-color: transparent;
  border-style: none;
  text-decoration: underline;
}

#editButton:hover {
  cursor: pointer;
}


#submitButton {
  background-color: transparent;
  border-style: none;
  text-decoration: underline;
}

#submitButton:hover {
  cursor: pointer;
}

#example {
  position: absolute;
  width: 80%;
  height: 200px;
  bottom: 100px;
  margin-left: 150px;
  z-index: 11;
  display: block;
}
#nodeContainer{
  position: absolute;
  left: 0px;
  right: 0px;
  top:0px;
  bottom:0px;
  display: block;
}

#editor {
  position: absolute;
  width: 80%;
  height: 200px;
  bottom: 0px;
  margin-left: 150px;
  border-color: rgb(200, 199, 199);
  border-width: 10px;
  z-index: 11;
  border-right-style: solid;
  border-top-style: solid;
  display: none;
}

#dataView{
  position: absolute;
  width: 100%;
  display: none;
  height: 100%;
  z-index: 100;
  left: 150px;
  top: 35px;
  bottom: 0px;
  right: 0px;
  background-color: lightgray;
}